<nav id="menu">
     <div class="inner">
         <h2>Menu</h2>
              <ul class="links">
                  <li><a href="/">首頁</a></li>
                  <li><a href="/admin">管理總覽</a></li>
                  <li><a href="/admin/user/admin">使用者管理</a></li>
                  <li><a href="/admin/ann/admin">公告管理</a></li>
                  <li><a href="/admin/list/admin">列表管理</a></li>
                  <li><a href="/admin/nick">變更暱稱</a></li>
                  <li><a href="/admin/chpwd">變更密碼</a></li>
                  <li><a href="/admin/logout">登出</a></li>
              </ul>
         <a href="#" class="close">Close</a>
     </div>
</nav>
