<nav id="menu">
     <div class="inner">
         <h2>Menu</h2>
              <ul class="links">
                  <li><a href="/">首頁</a></li>
                  <li><a href="/usradm">使用者管理</a></li>
                  <li><a href="/admin">公告管理</a></li>
                  <li><a href="/chpwd">變更密碼</a></li>
                  <li><a href="/logout">登出</a></li>
              </ul>
         <a href="#" class="close">Close</a>
     </div>
</nav>