<% layout( 'layout' ) -%>
<div class="wrapper spotlight style3">
    <div class="inner" style="display:block; text-align:start">
        <form class="form-ann" role="form" method="post">
            <div class="row uniform">
                <div class="12u$">
                    <label for="title">標題</label>
                    <input type="text" name="title" id="title" value="<%= ann.title %>" /><br />

                    <input type="checkbox" name="istextcontent" id="istextcontent" <% if(ann.istextcontent==false) { %> checked <% } %> />
                    <label for="istextcontent">HTML模式</label><br />

                    <label for="editor">內容</label>
                    <div name="editor" id="editor"><%= ann.content %></div>
                    <textarea style="display:none" name="content" id="content"><%= ann.content %></textarea>

                    <input type="checkbox" name="visible" id="visible" <% if(ann.visible==true) { %> checked <% } %> />
                    <label for="visible">可視</label><br />

                    <input type="checkbox" name="ontop" id="ontop" <% if(ann.ontop==true) { %> checked <% } %> />
                    <label for="ontop">置頂</label><br />

                    <input type="submit" name="ok" id="ok" value="完成" />
                </div>
            </div>
        </form>
    </div>
</div>

<script src="/src/ace.js" type="text/javascript" charset="utf-8"></script>
<script src="/js/acesync.js" type="text/javascript" charset="utf-8"></script>
