<% layout( 'layout' ) -%>
<div class="wrapper">
    <div class="inner">
        <!-- ModalBoxArea -->
        <div id="modal" class="modal">
            <div class="modal-content">
                <div class="modal-header">
                    <span class="boxclose">×</span>
                    <h1 class="modal-title">密碼設定失敗</h1>
                </div>
                <div class="modal-body">
                    <h3 class="modal-text"><%= errmsg %></h3>
                </div>
            </div>
        </div>
        <script src="/js/ModalBox.js"></script>
        <% if(errmsg) { %>
        <script type="text/javascript">
                show();
        </script>
        <% } %>
        <!-- ModalBoxEnd -->
        <form class="form-chpwd" role="form" method="post" action="chpwd">
            <div class="row uniform">
                <div class="4u$ 12u$(xsmall)">
                    <label for="oldpwd">舊密碼</label>
                    <input type="password" name="oldpwd" id="oldpwd" />
                    <label for="newpwd">新密碼</label>
                    <input type="password" name="newpwd" id="newpwd" />
                    <label for="comfirmpwd">密碼確認</label>
                    <input type="password" name="comfirmpwd" id="comfirmpwd" />
                </div>
                <div class="12u$">
                    <input type="submit" name="ok" value="確認" />
                </div>
            </div>
        </form>
    </div>
</div>
