<!DOCTYPE HTML>
<html>
<head>
    <title>INFORAnn</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/Custom.css" />
    <link rel="stylesheet" href="/css/ModalBox.css" />
</head>
<body>
    <!-- Page Wrapper -->
    <div id="page-wrapper">
        <!-- Header -->
        <header id="header">
            <h1><a href="/" target="_blank">INFORAnnSystem</a></h1>
        </header>
        <!-- Wrapper -->
        <section id="wrapper">
            <%- body %>
        </section>
    </div>
    <!-- Scripts -->
    <script src="/js/skel.min.js"></script>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/jquery.scrollex.min.js"></script>
    <script src="/js/util.js"></script>
    <script src="/js/main.js"></script>
</body>
</html>
