
<% layout( 'layout' ) -%>
<section class="wrapper">
    <div class="inner" style="display:block; text-align:start">
        <h1><%= message %></h1>
        <h2><%= error.status %></h2>
        <pre><%= error.stack %></pre>
    </div>
</section>
