<% layout( 'layout' ) -%>
<div class="wrapper">
    <div class="inner">
        <form class="form-chpwd" role="form" method="post">
            <div class="row uniform">
                <div class="4u$ 12u$(xsmall)">
                    <label for="oldpwd">暱稱</label>
                    <input type="text" name="nick" id="nick" value="<%= nickname %>" />
                </div>
                <div class="12u$">
                    <input type="submit" name="ok" value="確認" />
                </div>
            </div>
        </form>
    </div>
</div>
